<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650854469880-fbl49e3afh0rqqm0a6rq11fnml28lgo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650854469880-fbl49e3afh0rqqm0a6rq11fnml28lgo6</string>
	<key>API_KEY</key>
	<string>AIzaSyBC51vLoB7OKaiF9MQPNZZm3fLp4OvX4Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>650854469880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LVPTeam.S-T</string>
	<key>PROJECT_ID</key>
	<string>dowl-c6d0d</string>
	<key>STORAGE_BUCKET</key>
	<string>dowl-c6d0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650854469880:ios:22c07eb1e592a96cf7eb0d</string>
</dict>
</plist>